<h1>Sign up</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">

   <%= form_for @user, url: {action: "create"} do |f| %>

       <div class = "form-group">
         Entre ici ton pseudo :)<br />
         <%= f.text_field :name %><br />
       </div>

       <%= f.submit "Créer mon compte", class: "btn btn-primary" %>

   <% end %>

 </div>
</div>