<h1>Salut <%= @user.name %> </h1>
<p>What's up ? Tu veux faire quoi ?</p>

<p>
	<a href="<%= new_event_path %>" class="btn btn-default">Créer un évènement</a>
	<a href="<%= events_path %>" class="btn btn-primary">Participer à un évènement</a>
</p>


